@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: normal;
        src: url('/fonts/Rubik.ttf') format('truetype');
    }
}

html {
    scroll-behavior: smooth;
}